* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 22px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav > img {
    width: 82px;    
}

.hero {
    padding: 25px 5%;
}

.hero > img {
    display: block;
    width: 85%;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p, span, h3 {
    color: #222;
    line-height: 110%;
}

.hero > p {
    font-size: 16px;
    font-weight: 300;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.card {
    width: 176px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.card--image {
    position: relative;
    margin-bottom: 9px;
}

.card--image span {
    position: absolute;
    top: 8px;
    left: 8px;
    background: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 10px;
}

.card--image img {
    width: 100%;
    border-radius: 9px;
    max-height: 235px;
}

.card--rating {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 8px;
}

.card--rating img {
    width: 14px;
}

.card--rating span {
    font-size: 12px;
}

.card--rating span + span {
    color: #918E9B;
}

h3 {
    font-weight: 300;
    font-size: 12px;
    margin: 0px 0px 8px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > p {
    font-size: 12px;
    margin-top: auto;
}

.card > p > span {
    font-weight: 600;
}
